<nav class="navbar navbar-expand-sm navbar-light bg-light">

  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLinkActive="active" routerLink="/" class="navbar-brand">Recipe book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLinkActive="active"
               routerLink="/recipes"
               class="nav-link">Recipes</a></li>
        <li><a routerLinkActive="active"
               routerLink="/shopping-list"
               class="nav-link">Shopping List</a></li>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li ngbDropdown>
          <a style="cursor: pointer" ngbDropdownToggle class="nav-link" data-togle="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul ngbDropdownMenu>
            <li><a style="cursor: pointer" ngbDropdownItem >Save Data</a></li>
            <li><a style="cursor: pointer" ngbDropdownItem >Fetch Data</a></li>
          </ul>
        </li>
      </ul>



    </div>
  </div>
</nav>
