<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <img [src]="recipe.imagePath"
           alt="{{ recipe.name }}"
           class="img-responsive"
            style="max-height: 300px">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h1>{{ recipe.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div ngbDropdown>
        <a style="cursor: pointer; color: white" ngbDropdownToggle class="btn btn-primary" data-togle="dropdown-toggle" role="button">Manage Recipe<span class="caret"></span></a>
        <ul ngbDropdownMenu>
          <li><a style="cursor: pointer" ngbDropdownItem (click)="onToShoppingList()">To Shopping</a></li>
          <li><a (click)="onEditRecipe()" style="cursor: pointer" ngbDropdownItem >Edit Recipe</a></li>
          <li><a style="cursor: pointer" ngbDropdownItem >Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <span><i>{{recipe.description}}</i></span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div><span>Ingredients:</span></div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name }} - {{ ingredient.amount}}</li>
      </ul>
    </div>
  </div>
</div>
