<div class="container">
  <div class="row">
  <div class="col-sm-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <ul class="list-group" style="list-style-type: none;">
      <li *ngFor="let ingredient of ingredients">
        <a class="list-group-item list-group-item-light" routerLink="/" style="cursor: pointer"> {{ ingredient.name }} ({{ ingredient.amount }}) </a>
      </li>
    </ul>
  </div>
</div>
</div>
