<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item list-group-item-light clearfix">
  <div class="float-left">
    <h4 class="" [innerText]="recipe.name"></h4>
    <p class="" [innerText]="recipe.description"></p>
  </div>
  <div class="float-right">
    <img [src]="recipe.imagePath"
         [alt]="recipe.name"
         class="img-responsive"
         style="max-height: 50px;">
  </div>
</a>
