<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <button routerLink="new" class="btn btn-success">New Recipe</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-12">
      <app-recipe-item *ngFor="let recipeEl of recipes; let i = index"
                       [recipe]="recipeEl"
                       [index]="i" >
      </app-recipe-item>
    </div>
  </div>
</div>
