<div class="row">
<div class="col-sm-12">
  <form>
    <div class="row">
      <div class="col-sm-5 form-group">
        <label for="name"><span><strong>Name</strong></span></label>
        <input type="text"
               id="name"
               class="form-control"
                #nameInput >
      </div>
      <div class="col-sm-2 form-group">
        <label for="amount"><span><strong>Amount</strong></span></label>
        <input type="number"
               id="amount"
               class="form-control"
               #amountInput>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <button class="btn btn-success"
                type="submit"
              (click)="addIngredient()">Add</button>
        <button class="btn btn-danger" type="button">Delete</button>
        <button class="btn btn-primary" type="button">Clear</button>
      </div>
    </div>
  </form>
</div>
</div>
